 *{
                padding: 0px;
                margin:0px;
            }
            body{
                background-image: url("https://lh3.googleusercontent.com/proxy/iXpBL9dtQ-cr8RfiVVfu08fQd6u0Cc2xklyTh-D2p7FOLeypT-IIX5QD5j7KDIMcR4rPalGsuoF1OAmk7F2CICSFAddCoZx4saNkCvXpneWf8jOqlaK4");
    	background-size: cover;
    	background-repeat: no-repeat;
    	height: 100%;
                justify-content: center;
                text-align: center;
            }
            
            #tit_codigo,#usuario{
                display: inline;
            }
            #tit_cedula,#clave{
                display: inline;
            }
            #tit_nombre,#nombre{
                display: inline;
            }
             #tit_nacimiento,#direccion{
                display: inline;
            }
             #tit_ingreso,#telefono{
                display: inline;
            }
             #tit_retiro,#correo{
                display: inline;
            }
            #contenido{
                justify-content: center;
                text-align: center;
                border: 1px solid gray;
                margin: 0px auto;
                margin-top: 20px;
                padding: 10px;
                width: 40%;
                height: auto;
                background-color: white;
            }
            #campos{
                height: 85%;
                justify-content: center;
                text-align: right;
            }
            #botones{
                margin-top: 5px;
            height: 15%;
            justify-content: center;
                text-align: center;
            }
            .icono{
                color: gray;
                font-size: 2em;
            }
            #volver{
                text-decoration: none;
                padding: 5px;
                width: 100px;
                color:white;
            }
            #registrar{
                padding: 5px;
                width: 100px;
            }
            #usuario,#clave,#nombre{
                width:65%;
            }
            #direccion,#telefono,#correo{
                width:65%;
            }
            h1{